<div class="wrapper wrapper-content animated flipInX">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    Form results
                </h1>
                <small>
                    This would be a nice place for it...<br><br>
                    &copy; Pablo Santiago Sanchez - 2017
                </small>
            </div>
        </div>
    </div>
</div>