<div class=" login">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="#!/">
            <img src="resources/images/logo.png" alt="Logo"/>
        </a>
        <h4>{{ appName }}</h4>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        <h3 class="form-title">Sign In</h3>
        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">Username</label>
            <input autofocus="autofocus" class="form-control form-control-solid placeholder-no-fix" type="text"
                   autocomplete="off" placeholder="Username" name="username" ng-model="formData.login"
                   ng-keypress="doEnter($event)"
            />
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Password</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off"
                   placeholder="Password" name="password" ng-model="formData.password"
                   ng-keypress="doEnter($event)"
            />
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-success uppercase" ng-click="login($event)" ng-keypress="doEnter()">
                Login
            </button>

            <a href="index.html" class="pull-right btn btn- uppercase">
                Back to Landing Page
            </a>
        </div>
        <!-- END LOGIN FORM -->
    </div>
    <div class="copyright">
        &copy;  Pablo Santiago Sanchez 2017
    </div>
    <!-- END LOGIN -->
</div>
