<div class="box40x">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="#!/">
            <img src="resources/images/logo.png" alt="Logo"/>
        </a>
        <h4>{{ appName }}</h4>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <h1>403</h1>
        Forbidden
        <p>Go to <a href="#!/"login>login page</a></p>
    </div>
    <div class="copyright">
        &copy;  Pablo Santiago Sanchez 2017
    </div>
    <!-- END LOGIN -->
</div>